<div class="card" style="background-color: rgba(68, 189, 50,0.3);">
  <div class="card-body">
    <form>
    <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="row">
        <div class="col-2 offset-10">
            <button type="button" class="btn btn-success btn-block" data-toggle="button" aria-pressed="false">
                Postar
            </button>
        </div>
    </div>
    </form>
  </div>
</div>