<h1>Editing Atividade Da Tarefa Por Projeto</h1>

<%= render 'form', atividade_da_tarefa_por_projeto: @atividade_da_tarefa_por_projeto %>

<%= link_to 'Show', @atividade_da_tarefa_por_projeto %> |
<%= link_to 'Back', atividade_da_tarefa_por_projetos_path %>
