<h1>Nova Atividade</h1>

<%= render 'form', atividade: @atividade %>

<div class="float-sm-right" style="margin-top:3rem">
    <%= link_to 'Voltar', atividades_path, class:"btn btn-secondary" %>
</div>
