<h1>Editing Observacao Do Projeto</h1>

<%= render 'form', observacao_do_projeto: @observacao_do_projeto %>

<%= link_to 'Show', @observacao_do_projeto %> |
<%= link_to 'Back', observacao_do_projetos_path %>
