// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
    font-size: 18px !important;
}

.btn {
    font-size: 18px !important;
    color: white !important;
    padding: 0rem;
}

.table th{
    font-size: 18px !important;
    vertical-align: middle !important;
}

.table td{
    font-size: 16px !important;
    vertical-align: middle !important;
}
