<%= form_with(model: tipo_de_projeto, local: true) do |form| %>
  <% if tipo_de_projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_de_projeto.errors.count, "error") %> Já existe esse tipo de projeto</h2>

      <ul>
        <% tipo_de_projeto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label><strong>Dados do Cliente</strong></label>
  <hr>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label><strong>Tipo</strong></label>
        <%= form.text_field :tipo, class:"form-control" %>
      </div>
    </div>

    <div class="col-4">
    <br>
      <div class="actions" style="text-align:center">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
      </div>
    </div>
  </div>

  <hr>
<% end %>
