<h1>New Tipo De Projeto</h1>

<%= render 'form', tipo_de_projeto: @tipo_de_projeto %>

<div class="float-sm-right" style="margin-top:3rem">
    <%= link_to 'Voltar', tipo_de_projetos_path, class:"btn btn-secondary" %>
</div>

